:root {
    --light-blue: #DCE0E9;
    --dark-blue: #3A5365;
    --gold: #CF9521;
    --light-gold: #E3C484;
    --light-gray: #EDEDEE;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: var(--light-blue); 
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

*, *::before, *::after {  /*likvidace rámečků kolem stránky*/
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

h2 {
    font-weight: 400;
    font-size: 4vw;
    text-align: center;
}

h3 {
    font-weight: 300;
    font-size: 2em;
    text-align: center;
}

h4 {
    font-weight: 200;
    text-align: center;
    font-size: 1.8em;
    font-style: normal;
}

.header__navbar, .header__navbar__items {  /* barva a rozmístění v navbaru*/
    background-color: var(--dark-blue);
    color: var(--gold);
    list-style: none;

    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar__item {  /*rozmístění jednotlivých možností v navbaru*/
    margin-left: 1rem;
    margin-right: 1rem;
    flex-shrink: 1;
    flex-shrink: 0;
}

#header__picture {  /*hlavní fotka hradu*/
    width: 100%;
}

header {
    position: relative;
}

footer {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17vw;
    color: var(--light-gold);
    font-weight: 200;
    padding-top: 15px;
}

footer div header {
    margin-bottom: 2vw;
}

footer div > *:not(header) {
    font-weight: 100;
    font-size: 1.5vw;
}

footer div ul {
    list-style: none;
}

@media screen and (min-width: 500px) { /* pc vezre stránky*/
    .header__navbar__items {
        display: flex;
    }
}