:root {
    --light-blue: #DCE0E9;
    --dark-blue: #3A5365;
    --gold: #CF9521;
    --light-gold: #E3C484;
    --light-gray: #EDEDEE;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

body {
    background-color: var(--light-blue); 
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    min-width: 400px;
}

*, *::before, *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

h1 {
    font-family: "Marcellus SC", serif;
}

h2 {
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;
}

h3 {
    font-weight: 300;
    font-size: 2em;
    text-align: center;
}

h4 {
    font-weight: 200;
    text-align: center;
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: center;
}
.header__navbar {
    position: relative;
}

.header__navbar__icons {
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

.header__navbar, .header__navbar__items {  /* barva a rozmístění v navbaru*/
    background-color: var(--dark-blue);
    color: var(--gold);
    list-style: none;

    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
}

.header__navbar__item {  /*rozmístění jednotlivých možností v navbaru*/
    margin-left: 1rem;
    margin-right: 1rem;
    flex-shrink: 0;
}


#header__picture {  /*hlavní fotka hradu*/
    width: 100%;
}

.grid-menu {  /*rozmístění položek quick access menu*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    width: 80%;
    gap: 1em;
    justify-items: center;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


.grid-menu li {
    background-color: var(--light-gray);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    min-width: 95px;
    min-height: 80px;
    width: 11vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.grid-menu li img {
    padding-top: 5px;
    display: block;
    width: 75%;
    height: 75%;
}

.grid-menu li p {  /* zarovnání textu v poli*/
    text-align: center;
    font-size: .8em;
}

.header__navbar__items {  /*srytí prvků navbaru v mobilní verzi*/
    display: none;
}

.main__text {
    background-color: var(--light-gold);
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}

.main__text article h2 {
    margin-top: 2%;
}

.main__text article p {
    font-size: 3vw;
    padding: 1em;
}

#knight-responsive {
    display: none;
}

.destination__ideas {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-shrink: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.destination__image {
    flex-wrap: nowrap;
    flex-shrink: 0;
}

footer {
    background-color: var(--dark-blue);
    color: var(--light-gold);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

footer div {
    padding: 1em;
    width: fit-content;
}

footer div header {
    margin-bottom: 2vw;
}

footer div ul {
    list-style: none;
}


@media screen and (min-width: 800px) {
    .header__navbar__items {
        display: flex;
    }

    .grid-menu {
        grid-template-columns: repeat(6,1fr);
    }

    .main__text article p {
        font-size: 1.5vw;
    }

    #knight-responsive {
        width: 20vw;
        display: block;
        align-self: flex-end;
    }

    .grid-menu li p {
        font-size: min(1.3vw, 40px);
    }

    h2 {
        font-size: 2.5vw;
    }

    .destination__ideas{
        justify-content: center;
    }

}
.hamburger--show {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
    opacity: .95;
    position: absolute;
    left: 0;
    top: 64px;
    height: fit-content;
    width: 100vw;
    align-content: center;
}

.hamburger--show .header__navbar__item {
    margin: 1em;
}

/* styly pro galerii*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: .5rem;
    padding: 2vw;
    padding-top: 1em;
}

.gallery__item {
    display: block;
    width: 100%;
}

.contactus-text {
    background-color: var(--light-gold);
    text-align: center;
    padding: 1vw;
    margin-top: .6em;
    margin-bottom: 2em;
}